* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: white;
    padding: 15px 30px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.box {
    width: 200px;
    padding: 20px;
    background-color: #9a8c98;
    color: white;
    text-align: center;
    border-radius: 10px;
}